html {
  max-width: 1000px;
}

h1 {
  color: #74c7ec;
  text-align: left;
  font-size: 60px;
}


h2 {
  color: #a6e3a1;
  text-align: left;
  font-size: 35px;
}

.hacky {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: block;
  // margin-left: auto;
  margin-right: auto;

}

.sample_items {
  color: #a6e3a1;
  text-align: left;
  font-size: 30px;
}

body {
  background: #1e1e2e;
}

p {
  position: relative;
  text-align: left;
  color: #cdd6f4;
  font-size: 20px;
  width: 100%;
}

.container {
  background: #1e1e2e;
  position: relative;
  text-align: center;
  color: #89dceb;
}

.Main_P {
  font-size: 120px;
}

.custom-btn {
  width: 150px;
  height: 50px;
  color: #fff;
  border-radius: 2px;
}

.buttons {
  background: #585b70;
}

.buttons:hover {
  background: #fab387;
}